@charset "utf-8";

/* =================================================================================
* INFORMATION
* -----------------------------------------------------------------------
* @Author : kim si eun
* @File Name: Common.css
* @Version: 1.0
* @Create Date: 2019-06-04
* @Update Date: N/A
* @History: N/A
* ================================================================================= */

/* ====================== */
/* TT UI library */
/* ====================== */

/* ===== Webfont ===== */
/* ===== Default ===== */
/* outline:0 none; 웹접근성 및 Tab 이동 시 삭제요망 */
hr {display:none;}
dl,ul,ol,menu,li {list-style:none;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,label,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button {margin:0;padding:0;}
body, * {color:#333;font-size:14px;}
html, body {height:100%;background:#e1e4e9;}
blockquote, q {quotes:none;}
blockquote:before, blockquote:after, q:before, q:after {content:"";content:none;}
a {text-decoration:none;color:#333;}
img {vertical-align: top;border:none; }
address, caption, cite, code, dfn, em, th, var {font-style:normal;font-weight:normal;}
caption {display:none;}
button {outline:0 none;}
.skip-navigation a {display:block;height:1px;width:1px;margin:0 -1px -1px 0;padding:0;overflow:hidden;font-size:0;line-height:0;}
.skip-navigation a:hover,.skip-navigation a:active,.skip-navigation a:focus {position:fixed;z-index:6;top:0;left:0;width:100%;height:auto;padding:8px 0 12px;font-weight:bold;color:#fff;font-size:12px;line-height:1;text-align:center;text-decoration:none;background:black;}

/* ===== components ===== */
header h1{font-size:18px;color:white;line-height:49px;font-weight:bold;text-align:center;text-shadow:0px 3px 0px rgba(0, 0, 0, 0.3);}
.menu_hambuger {position:absolute;top:16px;left:16px;overflow:hidden;width:19px;height:16px;text-indent:-70px;border:none;background: url(../img/menu.png) no-repeat center;background-size:100% auto;}
.mail_btn {position:absolute;top:10px;right:12px;width:25px;height:27px;text-indent:-100px;border:none;overflow:hidden;background:url(../img/mail_off.png) no-repeat bottom;background-size:100% auto;}
.mail_btn span {display:none;position:absolute;top:0;right:0;width:10px;height:10px;color:white;font-size:7px;line-height:10px;text-indent:0;border-radius:5px;box-shadow:0 1px 0 rgba(0, 0, 0, 0.4);background:#ec2f57;}
.mail_btn.on {background:url(../img/mail_on.png) no-repeat bottom;background-size:100% auto;}
.mail_btn.on span {display:block;}
.calendar {position:relative;display:inline-block;top:7px;margin:0 0 0 10px;width:26px;height:25px;border:none;}
.calendar input {position:absolute;display:inline-block;z-index:10;width:26px;height:25px;visibility:hidden;}
.calendar label {display:inline-block;width:26px;height:25px;}
.daily_cal label {background:url(../img/calendar_on_1.png) no-repeat;background-size:100% auto;}
.weekly_cal label {background:url(../img/calendar_on_2.png) no-repeat;background-size:100% auto;}
.month_cal label {background:url(../img/calendar_on_3.png) no-repeat;background-size:100% auto;}
.daily_cal input[type="checkbox"]:checked+label {background:url(../img/calendar_off_1.png) no-repeat;background-size:100% auto;}
.weekly_cal input[type="checkbox"]:checked+label {background:url(../img/calendar_off_2.png) no-repeat;background-size:100% auto;}
.month_cal input[type="checkbox"]:checked+label {background:url(../img/calendar_off_3.png) no-repeat;background-size:100% auto;}
.option_backlayer {position:absolute;top:47px;right:7px;box-shadow:0 1px 10px rgba(0, 0, 0, 0.4);background:white;}
.option_backlayer:after {content:'';position:absolute;top:-5px;left:47px;width:0px;border-bottom:5px solid white;border-right:5px solid transparent;border-left:5px solid transparent;}
.select_date {position:absolute;right:75px;top:5px;overflow:hidden;width:37px;height:28px;text-indent:-140px;border-radius:3px;background:#009ae1 url(../img/search.png) no-repeat center;background-size:50% auto;border:none;box-shadow:0 2px 2px 0 rgba(0, 0, 0, 0.2);}
.select_date ~ .search_datepop {display:none;}
.select_date.on ~ .search_datepop {display:block;}
.select_date.on {background-color:#146f9a;}
.search_datepop {width:200px;color:#353535;}
.search_datepop:after {left:110px;}
.date_pick {padding-top:4px;width:100%;height:96px;border-bottom:2px solid #dcdcdc;}
.date_pick input[type="text"] {margin:9px 2px 0 13px;width:110px;height:32px;font-size:14px;text-align:center;line-height:32px;border:1px solid #6db9ff;}
.date_pick button {width:34px;height:31px;text-indent:-1111px;overflow:hidden;background:#fff url(../img/date_picker.png) no-repeat center;border:none;box-shadow:0 2px 2px rgba(0, 0, 0, 0.2);background-size:50% auto;}
.date_pick span {font-size:16px;}
.date_pick_btn {padding:9px 13px 10px 13px;}
.date_pick_btn input {width:117px;height:28px;font-size:12px;text-indent:15px;color:white;border:none;outline:none;border-radius:4px;box-shadow:0 2px 2px 0 rgba(0, 0, 0, 0.2);background:#009ae1 url(../img/search.png) 17px/17px no-repeat;}
.date_pick_btn button {width:50px;height:28px;font-size:12px;color:white;border:none;border-radius:100px;box-shadow:0 1px 0 rgba(0, 0, 0, 0.1);background:#fd556d;}
.option_box {width:83px;}
.option {position:relative;display:block;padding: 7px 0 6px 37px;width:33px;height:20px;text-align:center;}
.option input {position:absolute;display:block;z-index:10;width:33px;height:20px;visibility:hidden;}
.option label:before {content:'';position:absolute;left:-20px;top:6px;width:8px;height:8px;border-radius:100px;}
.option label {position:relative;display:block;width:33px;height:20px;font-size:9px;font-weight:bold;color:#969696;line-height:20px;}
.black label:before {background:black;}
.black input[type="checkbox"]:checked+label {color:white;background:black;}
.gray label:before {background:#7d7d7d;}
.gray input[type="checkbox"]:checked+label {color:white;background:#7d7d7d;}
.blue label:before {background:#3ca1ff;}
.blue input[type="checkbox"]:checked+label {color:white;background:#3ca1ff;}
.green label:before {background:#00cc2c;}
.green input[type="checkbox"]:checked+label {color:white;background:#00cc2c;}
.purple label:before {background:#c750ff;}
.purple input[type="checkbox"]:checked+label {color:white;background:#c750ff;}
.red label:before {background:#f84212;}
.red input[type="checkbox"]:checked+label {color:white;background:#f84212;}
.yellow label:before {background:#ffae00;}
.yellow input[type="checkbox"]:checked+label {color:white;background:#ffae00;}
.option_btn {position:relative;width:60px;height:38px;text-indent:-14px;font-size:12px;border:none;background:white url(../img/down_allow.png) no-repeat right;background-size:10px auto;background-position:40px 17px;}
.option_btn~.option_box {display:none;}
.option_btn.up {background:white url(../img/up_allow.png) no-repeat right;background-size:10px auto;background-position:40px 17px;}
.option_btn.up~.option_box {position:absolute;display:inline-block;text-indent:0;}
.calendar_choose {width:24px;height:24px;text-indent:-110px;border:none;overflow:hidden;background:url(../img/finish_calendar_icon.png) no-repeat;background-size:100% auto;}
.clock_choose {width:28px;height:27px;text-indent:-110px;border:none;overflow:hidden;background:url(../img/finish_clock_icon.png) no-repeat;background-size:100% auto;}
.cancel_btn {width:21px;height:21px;text-indent:-50px;border:none;overflow:hidden;background:url(../img/cancel.png) no-repeat;background-size:100% auto;}
.myJob_box_area {padding:7px;}
.myJob_box {margin-bottom:7px;}
.myJob_box > div {position:relative;box-sizing:border-box;padding:7px;height:97px;box-shadow:0px 2px 3px rgba(0, 0, 0, 0.3);background:#fff;}
.myJob_box > div::after {content:'';position:absolute;top:0;right:0;border-top:10px solid #00cc2c;border-right:10px solid #00cc2c;border-bottom:10px solid transparent;border-left:10px solid transparent;}
.myJob_box.on {position:relative;padding:0 0 0 18px;}
.myJob_box.on .txt {text-decoration:line-through;}
.myJob_box.on::before {content:'CLOSE';position:absolute;top:0;width:13px;height:97px;color:white;font-size:6px;text-align:center;writing-mode:vertical-lr;background:#fd556d;transform:rotate(180deg);}
.myJob_box_top {width:100%;height:25px;}
.myJob_box_maintxt {position:relative;width:100%;height:43px;font-size:14px;color:#1f2020;border-bottom:1px solid #eaeaea;}
.myJob_box_maintxt .txt {position:absolute;top:5px;left:29px;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;text-overflow:ellipsis;overflow:hidden;word-wrap:break-word;line-height:15px;height:30px;}
.myJob_box em {margin-top:2px;float:right;color:#656565;font-size:10px;}
.myjob_box > div::after {content:'';display:block;clear:both;}
.bell {display:inline-block;width:16px;height:18px;text-indent:-140px;vertical-align:middle;overflow:hidden;background:url(../img/bell_icon.png) no-repeat;background-size:100% auto;}
.job_topic {display:inline-block;padding:0 15px 0 11px;max-width:80%;height:18px;vertical-align:middle;line-height:1.4;text-align:center;border-radius:3px;background:#789bb5;}
.job_topic span {position:relative;display:inline-block;width:100%;height:18px;font-size:12px;color:white;text-indent:8px;word-wrap:normal;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.job_topic span:before {content:'';position:absolute;left:0;top:7px;width:4px;height:4px;border-radius:100px;background:#fff;}
.dojob_icon {position:relative;display:inline-block;padding-top:2px;top:3px;width:23px;height:21px;font-size:7px;color:white;text-align:center;line-height:0.75;border-radius:8px;background:#0174e0;}
.dojob_icon.purple {background:#9d009b;}
.finish_select {position:relative;}
.finish_select select {position:relative;padding-left:45px;width:142px;height:46px;font-size:16px;color:#6db9ff;border:1px solid #6db9ff;border-radius:8px;-webkit-appearance:none;-moz-appearance:none;}
.finish_select:after {content:'';position:absolute;top:0;right:16px;top:25%;border-top:8px solid #515151;border-right:6px solid transparent;border-left:6px solid transparent;}
.finish_select:-ms-expand {display:none;} /* IE에서 select appearance 없애는 방법 */
.hover_btn {display:inline-block;position:relative;width:49px;height:50px;}
.hover_btn button {position:relative;width:49px;height:50px;border:none;}
.hover_btn label {position:absolute;display:none;padding-top:2px;left:-100px;top:10px;width:73px;height:23px;font-size:9px;color:white;border-radius:14px;background:rgba(0, 0, 0, 0.5);}
.hover_btn button:hover+label {display:inline-block;}
.holiday_btn button {background:url(../img/holiday_icon.png) no-repeat;background-size:contain;}
.excel_btn button {background:url(../img/excel_icon.png) no-repeat;background-size:contain;}
.excel_btn label {left:-180px;width:113px;height:23px;}
.job_btn {width:49px;height:50px;border-radius:none;border:none;background:url(../img/createjob_icon.png) no-repeat;background-size:contain;}
.job_btn.on {background-repeat:                                   ;ound:url(../img/write.png) no-repeat;background-size:contain;}
.reset_btn {width:50px;height:28px;font-size:12px;color:white;border:none;border-radius:100px;box-shadow:0 2px 0 rgba(0, 0, 0, 0.2);background:#fd556d;}
.search_btn2 {width:117px;height:28px;font-size:12px;text-indent:15px;color:white;border:none;outline:none;border-radius:10px;box-shadow:0 2px 2px 0 rgba(0, 0, 0, 0.2);background:#009ae1 url(../img/search.png) 17px/17px no-repeat;}
.left_arrow {width:14px;height:13px;text-indent:-130px;vertical-align:middle;border:none;overflow:hidden;background:url(../img/arrow_icon.png) no-repeat;background-size:100% auto;}
.textarea_add_btn {width:80px;height:28px;color:white;font-size:12px;border:none;border-radius:6px;box-shadow:0 2px 0 rgba(0, 0, 0, 0.2);background:#ff9125;}
.date_select {width:203px;height:19px;font-size:12px;text-indent:-18px;color:#009ae1;border:none;border-radius:13px;box-shadow:0 2px 2px rgba(0, 0, 0, 0.2);background:white url(../img/delete_red_icon.png) no-repeat right;background-size:auto 50%;}
.dl_icon {display:block;padding-bottom:13px;}
.dl_icon dt {padding:0 0 0 27px;height:24px;overflow:hidden;word-wrap:normal;white-space:nowrap;text-overflow:ellipsis;font-weight:bold;color:#191919;text-indent:5px;}
.dl_icon dd {}
.sender::after {content:'';display:block;clear:both;}
.sender dt {display:inline-block;float:left;margin-right:5px;font-weight:bold;font-size:18px;line-height:1;color:#3ca1ff;background:url(../img/friend_add_icon.png) no-repeat left;background-size:auto 100%;}
.sender dd {width:170px;display:inline-block;font-size:14px;overflow:hidden;word-wrap:normal;white-space:nowrap;text-overflow:ellipsis;vertical-align:middle;}
.clock dt {line-height:1.6;background:url(../img/clock_icon.png) no-repeat left;background-size:auto 100%;}
.clock dd {padding-top:6px;}
.chat dt {font-size:14px;background:url(../img/chat_icon.png) no-repeat left;background-size:auto 100%;}
.chat dd {position:relative;height:100px;}
.chat textarea {box-sizing:border-box;margin-top:5px;padding:6px 12px 0 12px;width:100%;height:94px;resize:none;font-size:12px;color:#5b5b5b;line-height:1.6;border:1px solid #c0c0c0;background:#fff;}
.bag dt {font-weight:bold;font-size:16px;line-height:1.8;background:url(../img/check_icon.png) no-repeat left;background-size:auto 100%;}
.bag dd {position:relative;height:170px;}
.bag textarea {position:absolute;bottom:0;box-sizing:border-box;padding:6px 12px 0 12px;width:100%;height:145px;resize:none;font-size:12px;color:#5b5b5b;line-height:1.6;border:1px solid #7e8c99;background:#f3f5f8;}
.bag .jobDate {position:absolute;left:0;top:5px;color:#454545;}
.bag .jobNum {position:absolute;right:0;top:5px;}
.connect dt {font-weight:bold;line-height:1.6;font-size:14px;background:url(../img/Connecting_icon.png) no-repeat left;background-size:auto 100%;}
.connect dd {padding-top:6px;}
.memo dt {font-size:14px;line-height:1.6;background:url(../img/Connecting_icon.png) no-repeat left;background-size:auto 100%;}
.memo dd {padding-top:3px;}
.select_set {width:100%;height:49px;}
.select_set p {display:inline-block;width:123px;height:49px;font-size:18px;color:#ffffff;line-height:2.6;font-weight:bold;text-align:center;text-shadow:0px 2px 0 rgba(0, 0, 0, 0.3);}
.select_set .weekly {background:#ec5a4b;}
.select_set .project {background:#1192ff;}
.select_set .wreport {background:#b552d1;}
.list_detailClose {position:absolute;right:17px;top:17px;width:14px;height:14px;text-indent:-50px;border:none;overflow:hidden;background:url(../img/cancel.png) no-repeat;background-size:100% auto;}
.condition {position:relative;display:inline-block;width:60px;height:26px;text-align:center;vertical-align:middle;line-height:1.7;border-radius:50px;background:#3ca1ff;}
.condition span {position:relative;right:-4px;color:white;font-size:12px;}
.condition span::before {content:'';position:absolute;left:-10px;top:6px;width:6px;height:6px;border-radius:100px;background:#fff;}
.topic {display:inline-block;padding:0 10px 0 4px;max-width:70%;height:26px;color:white;font-size:10px;line-height:2.3;text-align:center;text-indent:8px;word-wrap:normal;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;vertical-align:middle;border-radius:50px;background:#789bb5;}
.detailFilter {margin:12px 0 0 12px;}
.download_area {display:inline-block;margin:0 9px 5px 0;padding:0 9px 0 9px;min-width:50px;min-height:28px;word-break:break-all;border-radius:5px;text-decoration:underline;box-shadow:0 1px 1px rgba(0, 0, 0, 0.2);background:#f0f0f0;}
.download_area a {font-size:14px;color:#353535;line-height:28px;}
.reportClock {padding:15px 0 10px 0;}
.reportClock input[type="text"] {margin-right:4px;width:110px;height:32px;font-size:14px;text-align:center;line-height:32px;border:1px solid #6db9ff;}
.reportClock > div {margin-top:6px;}
.reportClock .cal {display:inline-block;margin-right:14px;}
.reportClock .cal button {width:34px;height:31px;text-indent:-1111px;overflow:hidden;background:#fff url(../img/date_picker.png) no-repeat center;border:none;box-shadow:0 2px 2px rgba(0, 0, 0, 0.2);background-size:50% auto;}
.reportClock .clock input[type="text"] {width:93px;}
.reportClock .clock button {width:34px;height:31px;text-indent:-1111px;overflow:hidden;background:#fff url(../img/finish_clock_icon.png) no-repeat center;border:none;box-shadow:0 2px 2px rgba(0, 0, 0, 0.2);background-size:50% auto;}
.startClock {margin-bottom:12px;}
.startClock input[type="text"] {border:1px solid #acacac;background:#f7f7f7;}
.check_box {position:relative;display:inline-block;width:25px;height:24px;}
.check_box input {position:absolute;display:inline-block;visibility:hidden;z-index:10;width:25px;height:24px;}
.check_box label {position:relative;display:inline-block;width:25px;height:24px;border:3px solid #6db9ff;background-color:white;}
.check_box input[type="checkbox"] + label:before {content: '';position:absolute;display:none;left:6px;top:4px;;width:11px;height:8px;border:3px solid #6db9ff;border-right:0;border-top:0;transform:rotate(-45deg);background:none;}
.check_box input[type="checkbox"]:checked + label:before {display:inline;}/* input */
.memo_box {width:100%;height:33px;font-size:14px;border:1px solid #acacac;line-height:34px;text-indent:18px;box-shadow:1px 1px 0 rgba(0, 0, 0, 0.1);background:#fff;}
/* select */
/* ===== Interval ===== */
/* ===== Btn ===== */


/* select */
/* ==== loading ==== */
/* ===== Error ===== */

/* ====================== */
/* Common Layout */
/* ====================== */
/* wrap / header / container */
body {background:#e1e4e9;}
.wrap {margin:0 auto;min-width:360px;min-height:619px;overflow-y:auto;}
#header {position:fixed;width:100%;z-index:10;}
header {width:100%;height:50px;background:#73bc00;}
#sub_header {position:relative;width:100%;height:39px;background:#ffffff;border-bottom:1px solid #b3c2cd;}
#container {width:100%;min-height:532px;margin-top:90px;}
/* ====================== */
/* sub Layout */
/* ====================== */
.option_area {position:relative;min-width:298px;height:39px;}
.filter_area {position:absolute;right:0;top:0;width:61px;height:39px;border-left:1px solid #b3c2cd;}
.cal_option {display:inline-block;margin:0 0 0 16px;width:274px;height:39px;}
.list_detail {position:fixed;display:none;z-index:999;top:0;width:100%;height:100%;background:#fff;}
.list_detail .project_topic {position:fixed;top:0;width:100%;height:48px;border-bottom:1px solid #d2d2d2;}
.list_detail .project_detail {position:absolute;top:48px;bottom:60px;overflow:auto;width:100%;}
.list_detail .project_actionBar {position:fixed;bottom:0;width:100%;height:60px;text-align:center;border-top:1px solid #cdcdcd;box-shadow:0 -6px 5px rgba(0, 0, 0, 0.1);background:#fff;}
.project_actionBar button {margin-top:14px;width:96px;height:32px;color:white;font-size:14px;box-shadow:0 1px 1px rgba(0, 0, 0, 0.1);border:none;}
.project_actionBar button:nth-child(1) {background:#484848;}
.project_actionBar button:nth-child(2) {background:#99a1aa;}
.project_actionBar button:nth-child(3) {background:#fd556d;}
.explainDetail {margin:auto;padding:20px 22px 0 22px;box-sizing:border-box;width:100%;}
.reportDetail {position:relative;box-sizing:border-box;margin:auto;padding:17px 22px 0 22px;width:100%;height:500px;border-top:1px solid #3ca1ff;}
.reportDetail::before {content:'';position:absolute;left:0;top:0;height:120%;border-left:7px solid #3ca1ff;}
.explainDetail.box-shadow {box-shadow:inset 7px 1px 0 #3ca1ff;}
.memo ul {margin-bottom:8px;}
.memo ul li {position:relative;padding-left:35px;box-sizing:border-box;width:100%;height:44px;}
.memo ul li .check_box {position:absolute;left:0;top:7px;}
.memo ul li .memo_box {right:0;margin-top:5px;width:100%;}
/* 구성요소 */
/* list */
